.date-range-picker-popover {
  position: absolute;
  top: -21px;
  left: -137px;
}

.bp3-daterangepicker {
  width: 562px;
  padding: 20px 10px;
  border-radius: 0;
  flex-flow: column;

  div {
    display: flex;
    justify-content: space-between;
  }

  .DayPicker-NavButton {
    width: fit-content;
    border: none;

    &--next {
      margin-right: 5px;
    }
  }

  .DayPicker {
    .DayPicker-Month {
      width: available;
      margin: 0 15px;
    }

    &-Day--hovered-range:not(.DayPicker-Day--selected):not(.DayPicker-Day--selected-range):not(.DayPicker-Day--selected-range-start):not(.DayPicker-Day--selected-range-end) {
      background-color: var(--datepickerSelectedOuterRangeBg);
    }
  }

  .bp3-divider {
    order: 2;
  }

  .date-range-picker-controls {
    order: 4;
    margin: 13px 10px 0 10px;
    justify-content: flex-end;

    button:first-child {
      margin-right: 10px;
    }
  }

  .bp3-daterangepicker-shortcuts {
    order: 3;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;

    li {
      width: fit-content;
      display: inline-block;
      margin-right: 6px;
      margin-bottom: 5px;

      .bp3-menu-item {
        width: fit-content;
        padding: 4px 12px;
        height: 30px;
        font-size: 10px;
        border: 1px solid var(--borderColor);
        border-radius: 2px;

        &:hover {
          background-color: var(--shortcutHoverBg);
        }

        &.bp3-active:hover {
          background-color: var(--activeHoverColor);
        }

        &.bp3-intent-primary {
          color: var(--popoverColor);

          &:hover {
            color: var(--popoverColor);
          }
        }
      }
    }
  }
}

.bp3-datepicker {
  .DayPicker-Day {
    &.DayPicker-Day--selected {
      border-radius: 2px;
      background-color: var(--activeColor);

      &:hover {
        background-color: var(--activeHoverColor);
      }
    }

    &--selected-range {
      background-color: var(--datepickerSelectedRangeBg);
    }
  }
}

@media screen and (min-width: 2560px) {
  .date-range-picker-popover {
    top: -115px;
    left: -285px;
  }

  .bp3-daterangepicker {
    width: 758px;
    padding: 30px 20px;

    .DayPicker-NavButton {
      &--next {
        margin-right: 5px;
      }
    }

    .DayPicker {
      margin: 0 35px 10px 35px;

      .bp3-datepicker {
        &-month-select, &-year-select {
          select {
            font-size: 18px;
          }
        }
      }

      .DayPicker-Month {
        width: 250px;
        height: 221px;
        margin: 0 10px;
      }
    }

    .date-range-picker-controls {
      margin: 13px 10px 0 10px;

      button:first-child {
        margin-right: 10px;
      }
    }

    .bp3-daterangepicker-shortcuts {
      width: 100%;
      margin-top: 8px;
      padding: 0 5px;

      li {
        margin-right: 10px;
        margin-bottom: 8px;

        .bp3-menu-item {
          padding: 0 13px;
          height: 40px;
          line-height: 38px;
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 855px) {
  .date-range-picker-popover {
    position: absolute;
    top: -41px;
    left: -447px;
  }
}

@media screen and (max-width: 375px) {
  .date-range-picker-popover {
    position: absolute;
    top: -25px;
    left: -186px;
  }

  .bp3-daterangepicker {
    width: 100vw;
    margin-top: -10px;
    margin-left: -1px;
    border: none;

    div {
      flex-wrap: wrap;
      justify-content: center;

      .DayPicker {
        &:first-child {
          margin-bottom: 30px;
        }
      }
    }

    &-shortcuts {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 360px) {
  .date-range-picker-popover {
    left: -179px;
  }

  .bp3-daterangepicker {
    height: 575px;
    overflow: auto;
  }
}
