.json-format {
  width: min(100%, 500px);
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-all;
}

@media screen and (max-width: 767px) {
  .json-format-popover {
    display: none;
  }
}
