.tax-report {
  .snapshot {
    height: 100%;

    .bp3-button-group {
      transform: translateY(-20px);
      margin-bottom: 10px;
    }
  }

  .bp3-table-container {
    margin-bottom: 20px;
  }

  .movements-table {
    margin-bottom: 40px;
  }
}
