.bitfinex-nav-menu {
  display: inline-block;
  width: 282px;
  padding: 0;
  border-radius: 0;
  box-shadow: 0 1px 0 1px var(--borderColor);
  clip-path: inset(0 -1px 0 0);

  .reports_title {
    pointer-events: none;
  }

  &--popover {
    box-shadow: 0 0 1px var(--menuPopoverShadow);

    .bp3-popover-content {
      height: calc(100vh - 160px);
      overflow: auto;

      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: var(--tableScrollBg);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--tableScrollThumbBg);
        border-radius: 2px;
      }

      &::-webkit-scrollbar-corner {
        background-color: var(--tableScrollThumbBg);
      }

      // firefox
      scrollbar-width: thin;
      scrollbar-color: var(--tableScrollThumbBg) var(--tableScrollBg);
    }
  }

  .bp3-menu-item {
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    padding: 0 0 0 20px;
    font-size: 1rem;
    border-radius: 0;

    svg {
      height: 44px;
      margin-right: 14px;
    }

    div {
      display: inline-block;
      width: 218px;
    }

    &.bp3-active {
      background-color: var(--menuActive);
      border-right: 6px solid var(--menuActiveBorder);
      color: var(--activeColor);

      svg path {
        fill: var(--activeColor);
      }
    }

    &:hover {
      background-color: var(--menuHover);
      color: var(--activeColor);

      svg path {
        fill: var(--activeColor);
      }
    }
  }

  .bp3-menu-divider {
    margin: 0;
    border-top: 1px solid var(--borderColor);
  }

  .sub_items_menu {
    .bp3-collapse-body {
      li {
        padding-left: 40px;
      }
    }
  }

  &--mobile {
    display: none;
    width: 100vw;
    margin-top: 15px;

    .bp3-menu {
      &-item {
        height: 40px;
        line-height: 40px;
        padding-left: 18px;
        background-color: var(--bgColor);
        color: var(--color);

        svg {
          height: 40px;
        }
      }

      &-divider {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 2560px) {
  .bitfinex-nav-menu {
    width: 346px;

    .bp3-menu {
      &-item {
        height: 52px;
        line-height: 52px;

        svg {
          width: 28px;
          height: 52px;
        }

        div {
          width: 278px;
        }
      }
    }
  }
}


@media screen and (max-width: 650px) {
  .bitfinex-nav-menu {
    &--main {
      display: none;
    }

    &--mobile {
      display: block;
    }

    .bp3-menu-item {
      div {
        width: calc(100% - 38px);
      }
    }
  }
}
