svg:not(.recharts-surface) path {
  fill: var(--iconColor);
}

svg.icon {
  &--checkmark-circle {
    path {
      fill: var(--iconCheckmark);
    }
  }

  &--close-circle, &--warning {
    path {
      fill: var(--iconWarning);
    }
  }
}
