svg {
  &:not(.recharts-surface) path {
    fill: var(--iconColor);
  }

  path.icon-affiliates {
    fill: var(--activeColor);
  }

  path.icon--go-to{
    fill: none;
  }
}

svg.icon {
  &--checked, &--checkmark-circle {
    path {
      fill: var(--iconCheckmark);
    }
  }

  &--offline, &--warning {
    path {
      fill: var(--iconWarning);
    }
  }
}
