@import 'SubUsersAdd/SubUsersAdd';
@import 'SubUsersList/SubUsersList';

.sub-account {
  .loading-container {
    display: flex;
    min-height: 300px;
    align-items: center;
    justify-content: center;

    .loading {
      margin: auto;
    }
  }

  &-controls {
    margin-bottom: 30px;

    .bp3-button {
      margin-top: 0;
    }
  }

  &-user {
    margin-bottom: 20px;
  }

  &-select {
    &.bitfinex-select {
      .bp3-button {
        width: 380px;
      }
    }

    &-popover {
      &.bitfinex-select-menu {
        .bp3-popover-content {
          width: 380px;
        }
      }
    }
  }

  &-confirm {
    display: block;
    margin-top: 30px;
  }
}
