.columns-filter {
  &-wrapper {
    display: inline-block;
    position: relative;

    .bp3-button {
      height: 34px;
      min-width: 133px;
      font-size: 14px;
      background-color: var(--multiBg);

      &-text {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  &-dialog {
    min-width: 576px;
    width: fit-content;

    .bp3-dialog-body, .bp3-dialog-footer {
      margin-left: 15px;
      margin-right: 15px;
    }

    // fixes text transition on popover open
    .bp3-button-text {
      line-height: 18px;
    }
  }

  &--active {
    &.bp3-button {
      border-color: var(--activeFilterBorder);

      &:hover {
        border-color: var(--activeFilterBorder);
      }
    }
  }

  &-item {
    padding: 5px 0;

    .bitfinex-select {
      vertical-align: middle;

      .bp3-button {
        width: 138px;
      }
    }

    &-column {
      width: 138px;
      margin-right: 20px;

      &.bitfinex-select {
        .bp3-button {
          width: 154px;
        }
      }
    }

    &-filter {
      width: 138px;
      margin-right: 20px;
    }

    &-input {
      display: inline-block;
      width: 180px;
      margin-right: 13px;

      .bp3-input {
        height: 40px;
        line-height: 40px;
      }

      &--select {
        width: 180px;

        &.bitfinex-select {
          .bp3-button {
            width: 180px;
          }
        }
      }
    }

    &-remove {
      cursor: pointer;
      vertical-align: middle;
      height: 40px;
    }
  }

  &-controls {
    margin-top: 10px;
    margin-bottom: 20px;

    &-add {
      width: fit-content;
      margin-right: 20px;
      cursor: pointer;
    }
  }

  &-clear {
    transform: translate(-10px);
    margin-right: auto;
  }
}

@media screen and (min-width: 2560px) {
  .columns-filter {
    &-dialog {
      width: 700px;
    }

    &-item {
      .bitfinex-select {
        width: 188px;

        .bp3-button {
          width: 188px;
        }
      }

      &-column {
        margin-right: 15px;

        &.bitfinex-select {
          .bp3-button {
            width: 215px;
          }
        }
      }

      &-filter {
        margin-right: 15px;
      }

      &-input {
        width: 180px;
        margin-right: 18px;

        .bp3-input {
          height: 50px;
          font-size: 20px;
        }
      }

      &-remove {
        width: 23px;
        height: 23px;
      }
    }

    &-controls {
      margin-top: 25px;

      &-add {
        margin-right: 25px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .columns-filter {
    &-item {
      max-width: 380px;
      padding: 30px 0;
      margin: 0 auto;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--borderColor);
      }

      &-column {
        display: inline-block;
        margin-bottom: 20px;
      }

      &-filter {
        display: inline-block;
        margin-bottom: 20px;
      }

      &-input {
        width: 200px;
        margin-right: 13px;
      }
    }
  }
}
