.columns-filter {
  &-dialog {
    width: 550px;
  }

  &-item {
    padding: 5px 0;

    &-column {
      min-width: 180px;
      margin-right: 10px;
    }

    &-filter {
      min-width: 140px;
      margin-right: 10px;
    }

    &-input {
      display: inline-block;
      max-width: 150px;
      margin-right: 12px;
    }

    &-remove {
      cursor: pointer;
    }
  }

  &-add {
    width: fit-content;
    margin-top: 10px;
    margin-bottom: -8px;
    cursor: pointer;
    color: #419eff;
  }
}
