.time-range {
  cursor: pointer;
  font-size: 18px;
  padding: 4px 8px;
  width: fit-content;
  vertical-align: middle;
  color: var(--timeRangeColor);
  background-color: var(--multiBg);
  border: 1px solid var(--borderColor);
  border-radius: 4px;

  svg {
    margin-left: 10px;
    vertical-align: middle;
    transform: scale(0.65);

    path {
      fill: var(--color2);
    }
  }

  span {
    vertical-align: middle;
  }
}

@media screen and (min-width: 2560px) {
  .time-range {
    font-size: 24px;

    svg {
      width: 28px;
      height: 28px;
    }
  }
}
