.no-data {
  position: relative;

  &-wrapper {
    width: fit-content;
    height: fit-content;
    margin: 180px auto 0 auto;
    text-align: center;

    svg {
      display: block;
      margin: 0 auto 38px auto;
    }
  }

  .no-data-update {
    display: flex;
    margin: 30px auto 0 auto;
    width: unset;
    min-width: 100px;
  }
}

@media screen and (min-width: 2560px) {
  .no-data {
    &-wrapper {
      margin: 262px auto 0 auto;
    }
  }
}

@media screen and (max-width: 375px) {
  .no-data {
    &-wrapper {
      margin: 40px auto 0 auto;
    }
  }
}
