.no-data {
  height: 100%;
  position: relative;

  &-wrapper {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);

    svg {
      display: block;
      margin: 0 auto 38px auto;
    }
  }

  .no-data-update {
    display: flex;
    margin: 30px auto 0 auto;
    width: unset;
    min-width: 100px;
  }
}
