.line-chart {
  width: 100%;
  height: 100%;
  padding-right: 10px;

  .recharts {
    &-wrapper {
      margin: 0 auto;
    }

    &-default-legend {
      margin-left: 67px !important;
    }

    &-legend {
      &-item {
        cursor: pointer;
      }
    }

    &-tooltip {
      &-cursor {
        fill: white;
        opacity: 0.05;
      }

      &-label {
        color: black;
      }
    }

    &-surface {
      margin-bottom: 3px;
    }
  }
}
