.line-chart {
  width: 100%;
  height: 100%;
  padding-right: 10px;
  overflow-y: hidden;

  .recharts {
    &-wrapper {
      margin: 0 auto;
    }

    &-cartesian-axis {
      user-select: none;
    }

    &-default-legend {
      margin-left: 67px !important;
    }

    &-legend {
      &-item {
        cursor: pointer;
      }
    }

    &-tooltip {
      &-wrapper {
        .custom-tooltip {
          color: #000;
          padding: 11px 10px;
          background-color: #fff;
          border: 1px solid #d3d3d3;

          .title{
            margin-bottom: 3px;
          }

          .label {
            margin-bottom: 3px;
            color: var(--buttonBg);
          }
        }
      }

      &-cursor {
        fill: white;
        opacity: 0.05;
      }

      &-label {
        color: black;
      }
    }

    &-surface {
      margin-bottom: 3px;
    }
  }
}
