.top-navigation {
  display: none;
  float: right;
  height: 44px;
  line-height: 44px;
  padding-left: 10px;
  margin-right: 5px;
  cursor: pointer;
  border-left: 1px var(--borderColor) solid;

  .bp3-popover-wrapper {
    min-width: 48px;
  }

  &-portal {
    .bp3-transition-container {
      left: 10px !important;
    }
  }

  &-title {
    display: none;
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 15px;
  }

  .icon--user-circle,
  .icon--chevron-down,
  .icon--chevron-up {
    vertical-align: middle;
  }

  &--open {
    .icon--user-circle,
    .icon--chevron-up {
      path {
        fill: var(--activeColor);
      }
    }
  }

  &-content {
    background-color: var(--bgColor);

    .bp3-menu {
      border-radius: 0;
      padding: 0;
      border-top: 1px solid var(--borderColor);
      border-left: 1px solid var(--borderColor);


      &-item {
        width: calc(100% + 4px);
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        vertical-align: middle;
        border-bottom: 1px solid var(--borderColor);
        border-radius: 0;

        &:hover, &:active {
          background-color: var(--bgColor2);
        }

        svg {
          height: 40px;
        }

        &--subitem {
          padding: 0 46px;
        }

        &--timeframe {
          pointer-events: none;

          .time-range {
            min-width: 164px;
            height: 39px;
            font-size: 13px;
            color: var(--color);
          }

          &-custom {
            padding: 0;

            &.bp3-menu-item--subitem .bp3-popover-target {
              width: 100%;
              padding: 0 46px;
            }
          }
        }

        &--sync,
        &--query {
          &--disabled {
            pointer-events: none;
          }
          &--removed {
            display: none;
          }
        }

        .sync-mode, 
        .query-mode {
          height: 40px;

          .bp3-popover-target {
            height: 40px;
          }

          &-icon {
            height: 40px;

            &-wrapper {
              height: 40px;
            }
          }

          &-status {
            margin-left: 7px;
            vertical-align: top;
          }
        }

        &--account {
          pointer-events: none;
        }
      }

      &-divider {
        margin: 0;
        border-top: 1px solid var(--borderColor);
      }
    }
  }
}

@media screen and (max-width: 855px) {
  .top-navigation {
    display: inline-block;
  }
}

@media screen and (max-width: 390px) {
  .top-navigation {
    &-title {
      display: inline-block;
    }

    &-portal {
      &.bp3-overlay-open {
        margin-top: 50px;
        height: calc(100vh - 50px);
        background-color: var(--bgColor);
      }

      .bp3-transition-container {
        left: -5px !important;
      }
    }

    &-content {
      width: 100vw;

      .bp3-menu {
        border-left: none;

        &-item {
          width: 100%;
          height: 35px;
          line-height: 35px;

          svg {
            height: 35px;
          }

          &--subitem {
            padding: 0 46px;
          }

          &--timeframe {
            .time-range {
              height: 34px;
              font-size: 13px;
            }

            &-custom {
              padding: 0;

              &.bp3-menu-item--subitem .bp3-popover-target {
                width: 100%;
                padding: 0 46px;
              }
            }
          }

          .sync-mode,
          .query-mode {
            .bp3-popover-target {
              height: 35px;
            }
            &-icon {
              height: 35px;

              &-wrapper {
                height: 35px;
              }
            }
          }
        }
      }
    }
  }
}
