.app-download {
  padding: 24px;

  &--title {
    margin: 0;
    font-size: 16px;
    max-width: 240px;
    margin-bottom: 6px;
  }

  &--sub-title {
    margin: 0;
    font-size: 14px;
    max-width: 240px;
    color: var(--color2);
    margin-bottom: 15px;
  }

  &--list {
    padding-left: 20px;

    li {
      font-size: 14px;
      color: var(--color2);
      padding-bottom: 6px;
    }
  }

  &--btn {
    min-height: 40px;
    padding: 5px 20px;

    .bp3-button-text {
      font-size: 15px;
      font-weight: 700;
    }
  }
}
