.section-wallets {
  &-data {
    &-item {
      display: inline-block;
      width: fit-content;
      margin-right: 41px;
      margin-bottom: 20px;

       > div:first-child {
         margin-bottom: 10px;
         color: var(--activeColor);
      }
    }
  }
}
