.section-header {
  margin-bottom: 31px;

  &-title {
    margin-bottom: 20px;
    font-size: 30px;
    color: var(--activeColor);
  }

  &-row {
    > * {
      display: inline-block;
      vertical-align: bottom;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &-item {
    &-label {
      margin-bottom: 10px;
    }
  }

  &-time-range {
    margin: 0 2px 22px 2px;
  }
}
