.section-header {
  margin-bottom: 20px;

  &-title {
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--color);
    position: relative;

    .bp3-popover-wrapper {
      position: absolute;
      margin-top: 8px;
    }

    &--main {
      margin-right: 12px;
    }

    &--mobile {
      display: none;
      margin-top: -13px;
      margin-left: -10px;

      &-section {
        display: inline-flex;
        align-items: center;
        width: 100vw;
        height: 40px;
        padding: 0 18px;
        font-size: 15px;
        background-color: var(--bgColor2);

        svg {
          margin-right: 12px;

          path {
            fill: var(--activeColor);
          }
        }

        .icon {
          &--chevron-up, &--chevron-down {
            margin-left: auto;
            margin-right: -3px;
          }
        }
      }
    }
  }

  &-row {
    margin-bottom: -10px;

    > * {
      display: inline-block;
      vertical-align: bottom;
      margin-bottom: 10px;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &-item {
    &-label {
      font-size: 14px;
      margin-bottom: 5px;
      color: var(--color2);
    }
  }

  .time-range {
    font-size: 14px;
  }
}

@media screen and (min-width: 2560px) {
  .section-header {
    margin-bottom: 36px;

    &-title {
      margin-bottom: 20px;
      font-size: 38px;
      color: var(--activeColor);
    }

    &-row {
      margin-bottom: -10px;

      > * {
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 10px;

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }

    &-item {
      &-label {
        margin-bottom: 10px;
      }
    }

    .time-range {
      margin: 0 2px 22px 2px;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 855px) {
  .section-header {
    margin-bottom: 21px;

    &-title {
      margin-bottom: 10px;

      .bp3-popover-wrapper {
        margin-top: 6px;
        transform: scale(0.75);
      }

      &--main {
        font-size: 23px;
      }
    }

    &-row {
      > * {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}
