.section-header {
  margin-bottom: 20px;

  &-title {
    margin-bottom: 15px;
    font-size: 30px;
    color: var(--activeColor);
  }

  &-time-range {
    margin: 0 2px 15px 2px;
  }

  .refresh-button {
    margin-left: 15px;
  }

  .bitfinex-select {
    margin-right: 15px;
  }
}
