.error-dialog {
  width: 450px;
  max-width: 90vw;

  &-message {
    max-width: 400px;
    margin: 15px 0 25px 15px;
  }

  &-checkbox {
    font-size: 13px;
    margin: 10px 0;
  }

  .bp3-dialog-footer-actions {
    justify-content: center;
  }
}
