@import 'SubAccount/SubAccount';

.sub-accounts {
  .section-header {
    margin-bottom: 0;
  }

  .subtitle {
    margin-bottom: 15px;
  }

  .sub-users-add {
    &-accounts {
      &-account {
        flex-direction: column;
      }
    }
  }
}
