.theme-dark {
  // main
  --bgColor: #102331;
  --bgColor2: #172d3e;
  --color: #ffffff;
  --borderColor: #19354a;
  --iconColor: #ffffff;
  --activeColor: #82baf6;
  --activeHoverColor: #4c88c8;

  --authNoticeBg: #172d3e;

  // nav menu
  --menuHover: #19354a;
  --menuActive: #172d3e;
  --menuActiveBorder: #82baf6;

  --timeRangeColor: #545c62;

  // tooltips
  --popoverBg: #172D3E;
  --popoverColor: #FFFFFF;

  // buttons
  --buttonBg: #82baf6;
  --buttonColor: #ffffff;
  --buttonPrimaryColor: #ffffff;
  --buttonHoverBg: #19354a;
  --buttonPrimaryHoverBg: #4c88c8;
  --buttonSuccessBg: #16b157;
  --buttonSuccessColor: #ffffff;
  --buttonSuccessHoverBg: #0fc75c;

  // tables
  --thColor: #82baf6;
  --thBg: #172d3e;
  --thBgHover: #19354a;
  --tableColor: #f5f8fa;
  --tableBorder: #19354a;
  --tableOddBg: #172d3e;
  --tableEvenBg: #102331;
  --tableScrollBg: #0c1a25;
  --tableScrollThumbBg: #5ebefa;

  // select
  --selectColor: black;

  // multi select
  --multiBg: #172d3e;
  --multiTagBg: #82baf6;
  --multiTagHoverBg: #4c88c8;
  --multiTagRemove: #061a25;
  --multiActiveBg: #102331;
  --multiActiveColor: #82baf6;
  --multiActiveHoverColor: #ffffff;
  --multiHoverBg: #19354a;
  --multiSelectedBg: #82baf6;
  --multiSelectedColor: #ffffff;
  --multiSelectedHoverBg: #4c88c8;

  // checkbox
  --checkboxBorder: #f5f2f2;

  // datepicker
  --datepickerSelectedRangeBg: #5782ad;

  // icons
  --iconWarning: #f05359;
}
