.bp3-dark {
  --bgColor: #30404d;
  --bgColor2: #394b59; // #2f3d48
  --color: #ffffff;
  --borderColor: #28363f;

  --thBg: #30404d;
  --thBgHover: #394b59;
  --tableColor: #f5f8fa;
  --tableBorder: rgba(16, 22, 26, 0.15);
  --tableOddBg: #2f3d48;
  --tableEvenBg: #293742;
}
