.midnight {
  --bgColor: #102331;
  --bgColor2: #172d3e;
  --color: #ffffff;
  --borderColor: #19354a;
  --activeColor: #82baf6;

  --menuHover: #19354a;
  --menuActive: #172d3e;
  --menuActiveBorder: #82baf6;

  --thColor: #82BAF6;
  --thBg: #172d3e;
  --thBgHover: #19354a;
  --tableColor: #f5f8fa;
  --tableBorder: #19354a;
  --tableOddBg: #172d3e;
  --tableEvenBg: #102331;
}
