.midnight {
  // main
  --bgColor: #102331;
  --bgColor2: #172d3e;
  --color: #ffffff;
  --borderColor: #19354a;
  --activeColor: #82baf6;

  // nav menu
  --menuHover: #19354a;
  --menuActive: #172d3e;
  --menuActiveBorder: #82baf6;

  --timeRangeColor: #545C62;

  // tooltips
  --tooltipBg: #ffffff;
  --tooltipColor: black;

  // buttons
  --buttonBg: #82baf6;
  --buttonHoverBg: #4c88c8;

  // tables
  --thColor: #82baf6;
  --thBg: #172d3e;
  --thBgHover: #19354a;
  --tableColor: #f5f8fa;
  --tableBorder: #19354a;
  --tableOddBg: #172d3e;
  --tableEvenBg: #102331;

  // multi select
  --multiBg: #172d3e;
  --multiTagBg: #82baf6;
  --multiTagHoverBg: #4c88c8;
  --multiTagRemove: #061a25;
  --multiActiveBg: #102331;
  --multiHoverBg: #19354a;
  --multiSelectedBg: #82baf6;
  --multiSelectedHoverBg: #4c88c8;
}
