@import 'dark';
@import 'light';

.bp3-navbar, .bp3-card, .bp3-menu, .bp3-table-container {
  background-color: inherit;
  color: inherit;
}

@import './modals.scss';

body {
  background-color: var(--bgColor);
  color: var(--color);

  .color--active {
    color: var(--activeColor);
  }

  .bp3-card.bp3-elevation-0 {
    box-shadow: none;
  }

  .bitfinex-dataset {
    min-height: calc(100vh - 52px); // minus header height
  }

  // table specific styles
  .bp3-table-container {
    box-shadow: 0 0 0 1px var(--tableBorder);
  }

  .bp3-table-column-headers .bp3-table-header {
    box-shadow: 0 1px 0 var(--tableBorder), inset -1px 0 0 var(--tableBorder);
  }

  .bp3-table-column-name {
    font-size: 13px;
    color: var(--thColor);
  }

  .bp3-table-column-headers {
    background-color: var(--thBg);
    color: inherit;
  }

  .bp3-table-selection-enabled .bp3-table-header:hover::before {
    background-color: var(--thBgHover);
  }

  .bp3-table-cell {
    color: var(--tableColor);
  }

  .bp3-table-cell-ledger {
    &-even {
      background-color: var(--tableEvenBg);
    }

    &-odd {
      background-color: var(--tableOddBg);
    }
  }

  .bp3-table-quadrant-scroll-container {
    background-color: var(--bgColor);
  }

  .bp3-table-cell {
    box-shadow: inset 0 -1px 0 var(--tableBorder), inset -1px 0 0 var(--tableBorder);
  }

  .bp3-input {
    //height: 40px;
    background-color: var(--bgColor2);
    box-shadow: none;
    border: 1px solid var(--borderColor);
    border-radius: 2px;
    color: var(--color);

    &::placeholder {
      color: var(--color)
    }
  }

  a {
    color: var(--buttonBg);

    &:hover {
      color: var(--buttonBg);
    }
  }

  .bp3-divider {
    border-right-color: var(--borderColor);
    border-bottom-color: var(--borderColor);
  }

  .bp3-html-select.bp3-minimal {
    select {
      color: var(--color);

      &:hover {
        color: var(--color);
        background-color: var(--menuHover);
      }

      option {
        background-color: var(--selectOptionBg);
      }
    }
  }
}
