.bp3-dialog {
  background-color: var(--bgColor);
  border: 1px solid var(--borderColor);
  border-radius: 2px;

  &-header {
    background-color: var(--bgColor2);
    border-radius: 2px 2px 0 0;
    padding-left: 16px;

    .bp3-heading {
      font-size: 15px;
      font-weight: normal;
      margin: 0;
      color: var(--color);
    }
  }

  &-body {
    margin-left: 15px;
    margin-right: 15px;
  }
}
