@import "./variables.scss";

body {
  margin: 0;
  padding: 50px 0 0 0;
  font-family: "Roboto", sans-serif;
}

body.#{$ns}-dark {
  background-color: #394b59;
}

div.bitfinex-auth {
  text-align: center;
  margin-top: 10px;
}

/* status close button */
.#{$ns}-callout.#{$ns}-callout-icon .#{$ns}-icon.bitfinex-status-close {
  position: absolute;
  top: 12px;
  right: 10px;
  cursor: pointer;
  opacity: 0.3;

  &:hover {
    opacity: 0.5;
  }
}

.bitfinex-show-soft {
  opacity: 0.5;
}

.bitfinex-timerange > div {
  font-size: 11px;
}

/* normal size logo */
.bitfinex-logo-light,
.bitfinex-logo-dark {
  width: 176px;
}

/* small screen logo */
.bitfinex-logo-m-light,
.bitfinex-logo-m-dark {
  width: 79px;
}

body.#{$ns}-dark .bitfinex-logo-light,
body.#{$ns}-light .bitfinex-logo-dark,
body.#{$ns}-dark .bitfinex-logo-m-light,
body.#{$ns}-light .bitfinex-logo-m-dark {
  display: none;
}

.bitfinex-symbol-group {
  padding-bottom: 10px;

  &> button {
    margin-right: 3px;
  }
}

.bitfinex-pagination-group {
  padding-top: 10px;

  &> button {
    margin-right: 3px;
  }
}

body.#{$ns}-dark .bitfinex-green-text > div {
  color: #7a9c4a;
}

body.#{$ns}-dark .bitfinex-red-text > div {
  color: #aa6064;
}

body.#{$ns}-light .bitfinex-green-text > div {
  color: #8bc040;
}

body.#{$ns}-light .bitfinex-red-text > div {
  color: #de5f66;
}
