@import "./variables.scss";
@import "./fonts/roboto.css";

@import "components/ConcentrationRisk/_ConcentrationRisk.scss";
@import "components/Header/_Header.scss";
@import "ui/CandlesSyncPref/_CandlesSyncPref.scss";
@import "ui/Charts/Candlestick/_Candlestick.scss";
@import "ui/Charts/Chart/_Chart.scss";
@import "ui/JSONFormat/_JSONFormat.scss";
@import "ui/CollapsedTable/_CollapsedTable.scss";
@import "ui/ColumnsFilter/_ColumnsFilter.scss";
@import "ui/ColumnsSelect/_ColumnsSelect.scss";
@import "ui/DataTable/_DataTable.scss";
@import "ui/Pagination/_Pagination.scss";
@import "themes";

body {
  margin: 0;
  padding: 50px 0 0 0;
  font-family: "Roboto", sans-serif;
}

div.bitfinex-auth {
  margin-top: 10px;
  font-size: 14px;
  flex-direction: column;
  display: flex;

  > .bitfinex-logo {
    position: relative;
    width: 250px;
    margin: 0 auto 40px;
  }

  > .#{$ns}-callout {
    margin: 0 auto 24px;
  }
}

.bitfinex-dataset {
  flex: 1;
  min-width: 1px;
  padding: 0 8px;
}

.bitfinex-nonideal {
  margin-top: 30px;
}

/* status close button */
.#{$ns}-callout.#{$ns}-callout-icon .#{$ns}-icon.bitfinex-status-close {
  position: absolute;
  top: 12px;
  right: 10px;
  cursor: pointer;
  opacity: 0.3;

  &:hover {
    opacity: 0.5;
  }
}

.bitfinex-show-soft {
  opacity: 0.5;
}

.bitfinex-dropdown > div {
  font-size: 11px;
}

/* normal size logo */
.bitfinex-logo {
  width: 176px;
  position: relative;
  top: 5px;
}

body.#{$ns}-dark .bitfinex-logo--light,
body.#{$ns}-light .bitfinex-logo--dark {
  display: none;
}

.bitfinex-nav-menu {
  min-width: 225px;
}

.bitfinex-compact-menu.#{$ns}-menu {
  min-width: 40px;
  width: 40px;
}

.bitfinex-timeframe {
  .bp3-transition-container {
    z-index: 60;
  }
}

.bitfinex-queried-symbol {
  background-color: $pt-text-color-muted !important;
}

.bitfinex-amount {
  display: inline-block;
}

body.#{$ns}-dark {
  .bitfinex-green-text, .bitfinex-green-text > div {
    color: #7a9c4a;
  }

  .bitfinex-red-text, .bitfinex-red-text > div {
    color: #aa6064;
  }

  .bitfinex-amount {
    &.bitfinex-green-text > .bitfinex-amount-fraction {
      color: #98a542;
    }

    &.bitfinex-red-text > .bitfinex-amount-fraction {
      color: #b57074;
    }
  }

  .bp3-table-cell-ledger {
    &-odd {
      background-color: #2f3d48;
    }
  }

  .collapsed-table-item-attribute {
    &:nth-child(odd) {
      background-color: #2f3d48;
    }
  }
}

body.#{$ns}-light {
  .bitfinex-green-text, .bitfinex-green-text > div {
    color: #8bc040;
  }

  .bitfinex-red-text, .bitfinex-red-text > div {
    color: #de5f66;
  }

  .bitfinex-amount {
    &.bitfinex-green-text > .bitfinex-amount-fraction {
      color: #a4dc56;
    }

    &.bitfinex-red-text > .bitfinex-amount-fraction {
      color: #fb7e85;
    }
  }

  .bp3-table-cell-ledger {
    &-odd {
      background-color: #f7f8ff;
    }
  }

  .collapsed-table-item-attribute {
    &:nth-child(odd) {
      background-color: #f7f8ff;
    }
  }
}

// fixes tooltips in menu
.bp3-menu .bp3-popover-target {
  display: block;
}

.bitfinex-text-align-right {
  text-align: right;
}

/* preferences dialog */
.#{$ns}-dialog-body > .row {
  margin-bottom: 10px;
}

.bitfinex-preferences-desc {
  padding-top: 6px;
}

.bitfinex-timerange {
  margin-right: 8px;
  margin-left: 8px;
  font-size: 90%;
}

.bitfinex-help {
  margin-right: 2px;
}

.bitfinex-sync-progress {
  transform: translate(0.2px, -18.5px);
  font-size: 10px;
  position: absolute;
  width: 26px;
  text-align: center;
}

.bitfinex-pref-checkbox {
  margin-top: 6px;
}

.bitfinex-framework-checkbox {
  margin-top: 5px;
  margin-bottom: -4px;
}

div.bp3-multi-select {
  min-width: 180px;
  margin-right: 2px;
}

.bp3-card {
  & > h4 {
    margin: 10px 0;
  }

  .bp3-multi-select {
    margin: 5px 2px 5px 0;
  }
}

@media screen and (max-width: 991px) {
  .bitfinex-nav-menu {
    overflow: auto;
    max-height: calc(100vh - 60px);
  }
}

@media screen and (max-width: 720px) {
  .bitfinex-logo {
    width: 130px;
    height: 20px;
  }
}

