@import "./variables.scss";
@import "./fonts/roboto.css";
@import './button.scss';
@import './checkbox.scss';
@import './modals.scss';
@import './popover.scss';
@import './radio.scss';

@import "components/AccountSummary/_AccountSummary.scss";
@import "components/Auth/_Auth.scss";
@import "components/ConcentrationRisk/_ConcentrationRisk.scss";
@import "components/ExportDialog/_ExportDialog.scss";
@import "components/ExportSuccessDialog/_ExportSuccessDialog.scss";
@import "components/FrameworkDialog/_FrameworkDialog.scss";
@import "components/Header/_Header.scss";
@import "components/Header/TimeFrame/_TimeFrame.scss";
@import "components/Preferences/_Preferences.scss";
@import "components/Status/_Status.scss";
@import "components/SubAccounts/_SubAccounts.scss";
@import "components/TaxReport/_TaxReport.scss";
@import "icons/_icons.scss";
@import "ui/_index.scss";
@import "themes";

html {
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0 0 0 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background-color: var(--bgColor);
  color: var(--color);

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--tableScrollBg);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--tableScrollThumbBg);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-corner {
    background-color: var(--tableScrollThumbBg);
  }

  // firefox
  scrollbar-width: thin;
  scrollbar-color: var(--tableScrollThumbBg) var(--tableScrollBg);
}

html {
  // firefox
  scrollbar-width: thin;
  scrollbar-color: var(--tableScrollThumbBg) var(--tableScrollBg);
}

.app {
  display: flex;
  flex-direction: row;
}

.bitfinex-dataset {
  display: inline-block;
  min-height: calc(100vh - 46px); // minus header height
  flex: 1;
  min-width: 1px;
  padding: 0;
}

.color--active {
  color: var(--activeColor);
}

.table-section-title {
  margin-bottom: 11px;
  color: var(--activeColor);
}

.bp3-card.bp3-elevation-0 {
  box-shadow: none;
}

.subtitle {
  font-size: 20px;
  color: var(--activeColor);
}

.bp3-input {
  background-color: var(--bgColor2);
  box-shadow: none;
  border: 1px solid var(--borderColor);
  border-radius: 2px;
  color: var(--color);

  &::placeholder {
    color: var(--color)
  }
}

a {
  color: var(--buttonBg);

  &:hover {
    color: var(--buttonBg);
  }
}

.bp3-divider {
  border-right-color: var(--borderColor);
  border-bottom-color: var(--borderColor);
}

.mt {
  &20 {
    margin-top: 20px;
  }
}

.ml {
  &20 {
    margin-left: 20px;
  }
}

.tables-row {
  &-item {
    display: inline-block;
    width: fit-content;
    margin-right: 40px;
    margin-bottom: 20px;

    > div:first-child {
      margin-bottom: 10px;
      color: var(--activeColor);
    }
  }
}

.total-stats {
  margin-bottom: 20px;

  & > * {
    display: inline-block;

    div {
      margin-bottom: 2px;
    }

    span {
      font-size: 20px;
    }

    :not(:last-child) {
      margin-right: 60px;
    }
  }
}

.bitfinex-nonideal {
  margin-top: 30px;
}

.bitfinex-show-soft {
  opacity: 0.5;
}

.bitfinex-timeframe {
  .bp3-transition-container {
    z-index: 60;
  }
}

.bitfinex-amount {
  display: inline-block;
}

.clickable {
  cursor: pointer;
}

.bitfinex-row {
  > * {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 15px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &-item {
    &-label {
      margin-bottom: 10px;
    }
  }
}

.section-positions-active, .section-positions-audit {
  .section-switch {
    .refresh-button {
      vertical-align: middle;
      margin-bottom: 1px;
    }
  }
}

.section-switch {
  margin-left: 1px;
  margin-bottom: 30px;

  .refresh-button {
    margin-left: 23px;
  }
}

.bitfinex-text-align-right {
  text-align: right;
}

.bp3-card {
  padding: 30px 30px 0 30px;

  & > h4 {
    margin: 10px 0;
  }
}

.extra-line-height {
  line-height: 1.2;
}

.bp3-spinner {
  display: inline-block;
  vertical-align: top;
}

@media screen and (min-width: 2560px) {
  html {
    font-size: 18px;
  }

  body {
    font-size: 18px;

    .bp3-card {
      padding: 40px 50px 0 50px;
    }
  }

  .bitfinex-dataset {
    min-height: calc(100vh - 57px); // minus header height
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 13px;
  }

  body {
    .app {
      flex-direction: column;
    }

    .bp3-card {
      display: flex;
      padding: 12px 18px 0 18px;
    }
  }

  .collapsed-table {
    order: 2;
  }

  .pagination {
    order: 1
  }
}
