.bp3-popover {
  background-color: var(--bgColor);
  border-radius: 2px;
  box-shadow: none;

  .bp3-popover {
    &-content {
      background-color: var(--popoverBg);
      color: var(--popoverColor);
    }

    &-arrow-fill {
      fill: var(--popoverBg);
    }
  }
}

.sign-in-list--menu-popover {
  border: 1px solid var(--borderColor);

  .bp3-popover-content {
    background-color: var(--bgColor2);
  }
  
}

.bp3-tooltip {
  .bp3-popover {
    &-content {
      background-color: var(--tooltipBg);
      color: var(--tooltipColor);
    }

    &-arrow-fill {
      fill: var(--tooltipBg);
    }
  }
}
