.bp3-popover {
  background-color: var(--bgColor);
  border-radius: 2px;

  .bp3-popover {
    &-content {
      background-color: var(--popoverBg);
      color: var(--popoverColor);
    }

    &-arrow-fill {
      fill: var(--popoverBg);
    }
  }

  .bp3-menu-item {
    &.bp3-intent {
      &-primary {
        background-color: var(--buttonBg);
        color: var(--color);

        &:hover {
          background-color: var(--buttonHoverBg);
          color: var(--color);
        }
      }
    }
  }
}
