.electron-menu-item {
  height: 28px;
  cursor: pointer;
  line-height: 28px;
  -webkit-app-region: no-drag;

  .bp3-popover-open {
    color: var(--activeColor);
    background-color: var(--bgColor2);
  }

  &-target {
    width: fit-content;
    margin: 0 auto;
    padding: 0 13px;
  }

  svg {
    height: 20px;
  }

  &-username {
    vertical-align: top;
    margin: 0 3px 0 10px;
    font-size: 13px;
    text-overflow: ellipsis;
    max-width: 287px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
  }

  &-content {
    min-width: 198px;
    color: var(--color);
    height: fit-content;
    background-color: var(--bgColor2);
    border: 1px solid var(--borderColor);

    .bp3-menu {
      padding: 0;

      &-item {
        padding: 0 14px;
        font-size: 13px;
        border-bottom: 1px solid var(--borderColor);

        svg {
          height: 16px;
          margin-right: 14px;
        }

        &.bp3-active {
          color: var(--activeColor);
          background-color: var(--menuActive);
          border-right: 6px solid var(--menuActiveBorder);

          svg path {
            fill: var(--activeColor);
          }
        }

        &:hover {
          background-color: var(--menuHover);
          color: var(--activeColor);

          svg path {
            fill: var(--activeColor);
          }
        }

        .sync-mode, .query-mode {
          .bp3-popover-target {
            height: 35px;
          }
          &-icon {
            height: 35px;

            &-wrapper {
              height: 35px;
            }
          }

          &-status {
            margin-left: 13px;
            vertical-align: top;
          }
        }
      }

      li:last-child {
        .bp3-menu-item {
          border-bottom: none;
        }
      }
    }
  }

  .bp3-popover-content {
    border-radius: 0;
  }
}

@media screen and (min-width: 2560px) {
  .account-menu {
    min-width: 248px;
    max-width: 415px;
    height: 56px;
    line-height: 56px;

    &-wrapper {
      height: 56px;
    }

    &-target {
      padding: 0 20px;

      svg {
        width: 28px;
      }
    }

    svg {
      height: 56px;
    }

    &-username {
      margin: 0 5px 0 14px;
      max-width: 327px;
    }

    &-content {
      min-width: 238px;

      .bp3-menu {
        &-item {
          height: 52px;
          line-height: 52px;

          svg {
            height: 52px;
          }
        }
      }
    }

    .bp3-popover-target {
      height: 57px;
    }
  }
}