.section-account-summary {
  &-data {
    &-item {
      display: inline-block;
      width: fit-content;
      margin-right: 41px;
      margin-bottom: 35px;

      > div:first-child {
        margin-bottom: 5px;
        color: var(--activeColor);

        > div {
          font-size: 13px;
          color: var(--color);
        }
      }

      &:first-child {
        > div:first-child {
          margin-bottom: 10px;
        }
      }

      &:last-child {
        > div:first-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}
