.section-account-summary {
  &-data {
    &-item {
      display: inline-block;
      width: fit-content;
      max-width: calc(100vw - 20px);
      margin-right: 41px;
      margin-bottom: 35px;

      .collapsed-table {
        margin-bottom: 0;
      }

      > div:first-child {
        margin-bottom: 5px;
        color: var(--activeColor);

        > div {
          font-size: 13px;
          color: var(--color);
        }
      }

      &:first-child {
        > div:first-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 2560px) {
  .section-account-summary {
    &-data {
      &-item {
        > div:first-child {
          > div {
            font-size: 16px;
            color: var(--color);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 431px) {
  .section-account-summary {
    &-data {
      &-item {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}

