.app-summary {
  &-card {
    padding-left: 32px;
    padding-right: 32px;
  }

  &-wrapper {
    max-width: 1008px;
  }

  &-data-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &-title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-item {
    width: 48%;

    &-title {
      font-size: 18px;
      color: var(--color);
    }

    &-sub-title {
      font-size: 14px;
      color: var(--color2);
      margin-bottom: 15px;
    }
  }
}

.leo-level {
  &--row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &--title {
    font-size: 14px;
    position: relative;
    color: var(--leoLevelColor);

    .icon-leo {
      margin-right: 4px;
      margin-bottom: -2px;
    }
  }

  &--sub-title {
    font-size: 13px;
    color: var(--color2);
  }
}

.section-account-summary {
  &-data {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;

    &-item {
      width: fit-content;
      max-width: calc(100vw - 20px);
      margin-right: 20px;
      margin-bottom: 35px;

      .collapsed-table {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 2560px) {
  .section-account-summary {
    &-data {
      &-item {
        > div:first-child {
          > div {
            font-size: 16px;
            color: var(--color);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section-account-summary {
    &-data {
      align-items: flex-start;
    }
  }
}

@media screen and (max-width: 547px) {
  .section-account-summary {
    &-data {
      &-item {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}

