.app-summary {
  &-card {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 0;
  }

  &-wrapper {
    .section-header {
      margin-bottom: 25px; 

      &-title {
        max-height: 35px;
        margin-bottom: 5px;
      }
    }
  }

  &-data-row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    min-height: 441px;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  &-title-row {
    display: flex;
    min-height: 35px;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &-item {
    width: 48%;
    max-width: 460px;
    min-height: 270px;

    &-title {
      font-size: 18px;
      font-weight: 600;
      color: var(--color);
    }

    &-sub-title {
      font-size: 14px;
      color: var(--color2);
      margin-bottom: 15px;
    }

    &.account-fees {
      .collapsed-table {
        &-item {
          padding: 0;
          border: none;
          border-radius: 0;
          background-color: var(--bgColor2);
          border-top: 1px solid var(--tableBorder);
          border-bottom: 1px solid var(--tableBorder);
  
          & > div {
            &:first-child {
              border-top: 1px solid var(--tableBorder);
            }
  
            &:last-child {
              border-bottom: 1px solid var(--tableBorder);
            }
  
            &:nth-child(odd) {
              background-color: var(--bgColor2);
            }
      
            &:nth-child(even) {
              background-color: var(--bgColor2);
            }
  
            & > div {
              display: table-cell;
              height: 50px;
              font-size: 14px;
              padding: 15px 8px;
              vertical-align: middle;
              border-bottom: 1px solid var(--tableBorder);

              &:first-child {
                width: 50%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
      
              &:last-child {
                display: flex;
                text-align: end;
                word-break: break-word;
                justify-content: flex-end;
              }

              .cell-value {
                display: flex;
                align-items: center;
              }

              .cell-description {
                font-size: 14px;
              }
            }
      
            &:last-child {
              & > div {
                border-bottom: none;
              }
            }
          }
        }
      } 

      .loading-container {
        display: flex;
        margin-top: -4px;
        min-height: 387px;

        .loading {
          margin: auto;
        }
      }

      .no-data {
        display: flex;
        margin-top: -4px;
        min-height: 270px;
    
        &-wrapper {
          margin: auto;
        }
      }
    }
  }
}

.full-width-item {
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  margin-bottom: 20px;

  .app-summary-item-title--row {
    display: flex;
    max-width: 100%;
    position: relative;
    align-items: center;
    justify-content: space-between;

    .summary-filters {
      &--button {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 84px;
        min-height: 34px;
        border-radius: 4px;
        color:  var(--color2);
        border: 1px solid  var(--borderColor);

        &:hover {
          cursor: pointer;
        }

        svg {
          margin-top: -2px;
          margin-right: 5px;
        }

        &.bp3-active {
          color:  var(--thColor);
          border-color: var(--thColor);

          svg {
            path {
              stroke: var(--thColor);
            }
          }
        }
      }

      &--menu-popover {
        min-width: 314px;
        min-height: 150px;
        padding: 26px 24px;
        border-radius: 4px;
        background-color: var(--bgColor2);
        border: 1px solid var(--borderColor);

        .bp3-popover-content {
          background-color: var(--bgColor2);

          .switch {
            &-row {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 10px;

              .switch-btn{
                margin-bottom: 0;

                .bp3-control-indicator {
                  background: var(--bgColor);
                  &::before  {
                    background: var(--switchBtnColor);
                  }
                }

                &.active {
                  .bp3-control-indicator {
                    background: var(--thColor);
                    &::before  {
                      background: var(--color);
                    }
                  }
                }
              }
            }

            &-title {
              font-size: 14px;
            }
          }

          .balance-input {
            display: flex;
            max-width: 140px;
            position: relative;

            &-label {
              font-size: 14px;
              max-width: 266px;
              color:  var(--color2);
            }

            .bp3-form-group {
              margin-bottom: 8px;
            }

            .bp3-input-group {
              margin-bottom: 0;

              .bp3-input {
                height: 31px;
                max-width: 140px;
                padding: 0 40px 0 10px ;
                font-size: 13px;
              }
            }

            .bp3-disabled,
            .bp3-input:disabled {
              border-radius: 4px;
              background: var(--multiBg);
            }
            
            &-currency {
              right: 8px;
              top: 16px;
              font-size: 13px;
              position: absolute;
              color:  var(--color2);;
            }
          }
        }
      }
    }
  }

  .bp3-table-container {
    box-shadow: none;
  }

  .collapsed-table {
    .secondary-value {
      color: var(--color2);
    }
  }

  .summary-by-asset-table {
    border-top: none;

    .bp3-table-column-name {
      font-size: 14px;

      &-text {
        padding: 0 5px 0 2px;
      }
    }

    .bp3-table-cell {
      font-size: 14px;
      padding: 0 5px 0 2px;

      &:nth-last-child(-n+6) {
        box-shadow: none;
      }

      &:nth-last-child(6) {
        .bp3-table-truncated-text {
          font-weight: 600;

          .secondary-value {
            font-weight: 400;
          }
        }
      }
    }

    .cell-value {
      width: 100%;
      text-align: end;
      display: inline-block;
      
      &.secondary-value {
        color: var(--color2);   
      }
    }

    &.empty-table {
      .bp3-table-cell {
        &:nth-last-child(-n+6) {
          box-shadow: inset 0 -1px 0 var(--tableBorder);
        }
  
        &:nth-last-child(6) {
          .bp3-table-truncated-text {
            font-weight: 400;
          }
        }
      }
    }
  }

  .app-summary-item-sub-title {
    margin-bottom: 0;
  }

  .loading-container {
    display: flex;
    min-height: 300px;
    max-width: 1000px;

    .loading {
      margin: auto;
    }
  }

  .no-data {
    max-width: 1000px;
    min-height: 300px;
    
    &-wrapper {
      margin: 150px auto;
    }
  }
}

.chart-item {
  width: 50%;
  max-width: 500px;

  .app-summary-item-sub-title {
    margin-bottom: 11px;
  }

  .chart-wrapper {
    position: relative;

    .chart-value {
      position: absolute;
      top: 28px;
      left: 15px;
      z-index: 1;
    }

    .chart-value-perc {
      position: absolute;
      top: 50px;
      left: 15px;
      z-index: 1;

      .red-text {
        color: var(--tableAmountFractionNegColor);
      }

      .green-text {
        color: var(--tableAmountFractionPosColor);;
      }
    }

    .loading-placeholder {
      position: absolute;
      top: 50px;
      left: 15px;
      z-index: 1;

      &.strong {
        top: 23px;
        left: 15px;
      }
    }
  }

  .line-chart {
    width:115%;
  }

  .no-data {
    display: flex;
    min-height: 270px;

    &-wrapper {
      margin: auto;
    }
  }

  .loading-container {
    display: flex;
    min-height: 387px;

    .loading {
      margin: auto;
    }
  }
}

.leo-level {
  &--row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &--title {
    font-size: 14px;
    position: relative;
    color: var(--leoLevelColor);

    .icon-leo {
      margin-right: 4px;
      margin-bottom: -2px;
    }
  }

  &--sub-title {
    font-size: 13px;
    color: var(--color2);
  }
}

@media screen and (max-width: 768px) {
  .full-width-item .app-summary-item-sub-title {
      margin-bottom: 15px;
  }
}

@media screen and (max-width: 547px) {
  .app-summary {
    &-data-row {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }
    &-item {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 400px) {
  .app-summary {
    &-item {
      .line-chart {
        width:120%;
      }
    }
  }
}
