.app-summary {
  &-card {
    padding-left: 32px;
    padding-right: 32px;
  }

  &-wrapper {
    max-width: 1000px;

    .section-header {
      margin-bottom: 25px; 

      &-title {
        max-height: 35px;
        margin-bottom: 5px;
      }
    }
  }

  &-data-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  &-title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-item {
    width: 48%;
    max-width: 460px;
    min-height: 270px;

    &-title {
      font-size: 18px;
      color: var(--color);
    }

    &-sub-title {
      font-size: 14px;
      color: var(--color2);
      margin-bottom: 15px;
    }

    .collapsed-table {
      &-item {
        padding: 0;
        border: none;
        border-radius: 0;
        background-color: var(--bgColor2);
        border-top: 1px solid var(--tableBorder);
        border-bottom: 1px solid var(--tableBorder);

        & > div {
          &:first-child {
            border-top: 1px solid var(--tableBorder);
          }

          &:last-child {
            border-bottom: 1px solid var(--tableBorder);
          }


          &:nth-child(odd) {
            background-color: var(--bgColor2);
          }
    
          &:nth-child(even) {
            background-color: var(--bgColor2);
          }

          & > div {
            display: table-cell;
            min-height: 24px;
            padding: 16px 8px;
            vertical-align: middle;
            border-bottom: 1px solid var(--tableBorder);
    
            &:first-child {
              width: 45%;
            }
    
            &:last-child {
              padding: 4px 5px;
              text-align: end;
              word-break: break-word;
            }
          }
    
          &:last-child {
            & > div {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

.chart-item {
  width: 50%;
  max-width: 500px;

  .line-chart {
    width:110%;
  }

  .no-data {
    display: flex;
    min-height: 230px;

    &-wrapper {
      margin: auto;
    }
  }
}

.leo-level {
  &--row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &--title {
    font-size: 14px;
    position: relative;
    color: var(--leoLevelColor);

    .icon-leo {
      margin-right: 4px;
      margin-bottom: -2px;
    }
  }

  &--sub-title {
    font-size: 13px;
    color: var(--color2);
  }
}

@media screen and (max-width: 547px) {
  .app-summary {
    &-data-row {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }
    &-item {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 400px) {
  .app-summary {
    &-item {
      .line-chart {
        width:120%;
      }
    }
  }
}
