.account-menu {
  min-width: 206px;
  float: right;
  height: 50px;
  line-height: 50px;
  user-select: none;
  cursor: pointer;
  border-left: 2px solid var(--borderColor);

  &--no-email {
    min-width: initial;
  }

  &-wrapper {
    height: 50px;

    .icon--chevron-up {
      display: none;
    }

    &.bp3-active {
      background-color: var(--bgColor2);
      color: var(--activeColor);

      svg path {
        fill: var(--activeColor);
      }

      .icon--chevron-down {
        display: none;
      }

      .icon--chevron-up {
        display: inline-block;
      }
    }

    &:hover {
      background-color: var(--menuHover);
      color: var(--activeColor);

      svg path {
        fill: var(--activeColor);
      }
    }
  }

  &-target {
    width: fit-content;
    margin: 0 auto;
    padding: 0 13px;
  }

  svg {
    height: 50px;
  }

  &-range {
    vertical-align: top;
    margin: 0 3px 0 10px;
    font-size: 15px;
  }

  &-content {
    min-width: 198px;
    height: fit-content;
    background-color: var(--bgColor2);
    color: var(--color);
    box-shadow: 0 0 0 2px var(--borderColor);

    .bp3-menu {
      padding: 0;

      &-item {
        height: 40px;
        line-height: 40px;
        padding: 0 14px;

        svg {
          height: 40px;
          margin-right: 14px;
        }

        &.bp3-active {
          background-color: var(--menuActive);
          border-right: 6px solid var(--menuActiveBorder);
          color: var(--activeColor);

          svg path {
            fill: var(--activeColor);
          }
        }

        &:hover {
          background-color: var(--menuHover);
          color: var(--activeColor);

          svg path {
            fill: var(--activeColor);
          }
        }
      }

      &-divider {
        margin: 0;
        border-top: 2px solid var(--borderColor);
      }
    }
  }

  .bp3-popover-content {
    border-radius: 0;
  }

  .bp3-popover-target {
    height: 52px;
  }
}
