.pagination {
  margin: 25px 0;

  &-icon {
    margin: 0 2px;
    vertical-align: middle;
    cursor: pointer;

    &--disabled {
      pointer-events: none;

      path {
        fill: var(--timeRangeColor);
      }
    }
  }

  &-page {
    margin: 0 10px;
  }

  &-input {
    width: 45px;
    height: 22px;
    margin: 0 3px;
    text-align: center;
    background-color: var(--bgColor);
    border: 1px solid var(--borderColor);
    color: var(--color);
  }

  &-loading {
    margin-left: 15px;

    .bp3-spinner {
      vertical-align: middle;
    }
  }
}

@media screen and (min-width: 2560px) {
  .pagination {
    &-icon {
      width: 38px;
      height: 38px;
      margin: 4px -8px;
    }

    &-input {
      width: 35px;
    }
  }
}

@media screen and (max-width: 560px) {
  .pagination {
    &-icon {
      margin: 4px 2px;
    }

    &-input {
      width: 35px;
    }
  }
}

@media screen and (max-width: 375px) {
  .pagination {
    margin: 10px auto 25px auto;

    &-loading {
      position: absolute;
      margin-top: 5px;
    }
  }
}
