.bp3-multi-select {
  position: relative;
  min-width: 223px;
  min-height: 40px;

  &.bp3-input {
    box-shadow: none;
    background-color: var(--multiBg);
    border: 1px solid var(--borderColor);
  }

  &-arrow {
    position: absolute;
    top: 6px;
    right: 8px;
  }

  input {
    padding-right: 24px;
  }

  &-tag-input-input {
    color: var(--color);

    &::placeholder {
      color: var(--color);
    }
  }

  .bp3-tag-input-values {
    .bp3-tag {
      background-color: var(--multiTagBg);
      color: var(--multiTagColor);
      cursor: pointer;

      &:hover {
        background-color: var(--multiTagHoverBg);
      }

      &-remove {
        color: var(--multiTagRemove);
      }
    }

    &:last-child {
      padding-left: 3px;
    }
  }
}

@media screen and (min-width: 2560px) {
  .bp3-multi-select {
    min-width: 253px;
    min-height: 50px;

    &-tag-input-input {
      font-size: 18px;
    }

    .bp3-tag-input-values {
      .bp3-tag {
        span {
          font-size: 16px;
        }
      }
    }

    &-arrow {
      top: 12px;
    }
  }
}


@media screen and (max-width: 375px) {
  .bp3-multi-select {
    min-width: 150px;
  }
}
