.sub-users-add {
  &-accounts {
    &-account {
      display: flex;
      flex-wrap: wrap;
      vertical-align: middle;
      min-height: 74px;
      margin-top:10px;
      padding-bottom: 24px;
      margin-bottom: 25px;
      border-bottom: 1px solid var(--borderColor);

      & > * {
        &:not(:last-child) {
          margin-right: 15px;
          margin-bottom: 15px;
        }
      }

      .account-title {
        display: flex;
        margin-bottom: 5px;
        justify-content: space-between;

        &--remove {
          cursor: pointer;
          color: var(--activeColor);
        }
      }

      .input-group {
        display: inline-block;

        &-label {
          margin-bottom: 5px;
        }

        .bp3-input {
          height: 40px;
        }
      }

      &-remove {
        margin-bottom: 25px;
        cursor: pointer;
      }
    }
  }

  &-new {
    margin-top: 5px;

    &-btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      .add-new-btn-title {
        margin-left: 10px;
      }
    }
  }
}
