.sync-pref-button {
  height: 24px;
  margin-bottom: 8px;
  cursor: pointer;
}

@media screen and (min-width: 2560px) {
  .sync-pref-button {
    height: 28px;
    margin-bottom: 10px;

    svg {
      width: 28px;
      height: 28px;
    }
  }
}
