.electron-menu {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
  user-select: none;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  background-color: var(--bgColor);
  border-bottom: 1px solid var(--borderColor);
  min-height: env(titlebar-area-height, var(--fallback-title-bar-height));

  &-title {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  &-item {
    cursor: pointer;
    -webkit-app-region: no-drag;
    height: env(titlebar-area-height, var(--fallback-title-bar-height));
    line-height: env(titlebar-area-height, var(--fallback-title-bar-height));
  
    .bp3-popover-open {
      color: var(--activeColor);
      background-color: var(--bgColor2);
    }
  
    &-target {
      width: fit-content;
      margin: 0 auto;
      padding: 0 13px;
    }
  
    svg {
      height: 20px;
    }
    
    &-content {
      color: var(--color);
      height: fit-content;
      background-color: var(--bgColor2);
      border: 1px solid var(--borderColor);
  
      .bp3-menu {
        padding: 0;
        min-width: 120px;
    

        &-divider {
          border-top: 1px solid var(--borderColor);
        }
  
        &-item {
          padding: 4px 14px;
          font-size: 13px;

          &-label {
            color: var(--color2);
          }
  
          svg {
            height: 16px;
            margin-right: 14px;
          }
  
          &.bp3-active {
            color: var(--activeColor);
            background-color: var(--menuActive);
            border-right: 6px solid var(--menuActiveBorder);
  
            svg path {
              fill: var(--activeColor);
            }
          }
  
          &:hover {
            background-color: var(--menuHover);
            color: var(--activeColor);
  
            svg path {
              fill: var(--activeColor);
            }
          }
  
          .sync-mode, .query-mode {
            .bp3-popover-target {
              height: 35px;
            }
            &-icon {
              height: 35px;
  
              &-wrapper {
                height: 35px;
              }
            }
  
            &-status {
              margin-left: 13px;
              vertical-align: top;
            }
          }
        }
  
        li:last-child {
          .bp3-menu-item {
            border-bottom: none;
          }
        }
      }
    }
  
    .bp3-popover-content {
      border-radius: 0;
    }
  }
}
