@import './AccountMenu/_AccountMenu.scss';

.electron-menu {
  width: 100%;
  min-height: 25px;
  // box-shadow: 0 0 0 1px var(--borderColor);
  margin-bottom: 1px;
  font-size: 12px;
  display: inline-flex;
  justify-content: flex-start;


  &-row {
    display: flex;
  }

  .export,
  .sync-mode,
  .query-mode {
    cursor: pointer;
    height: 100%;
    padding: 0 13px;
    line-height: 14px;
    user-select: none;
    vertical-align: top;
    display: inline-block;
    border-left: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);

    svg {
      height: 25px;
    }

    span {
      margin-left: 10px;
      vertical-align: top;
    }

    &:hover {
      background-color: var(--menuHover);
      color: var(--activeColor);

      svg path {
        fill: var(--activeColor);
      }
    }
  }

  .sync-mode, .query-mode {
    .bp3-popover-target {
      height: 20px;
      margin-left: 0;
    }
  }
}

@media screen and (min-width: 2560px) {
  .header {
    height: 56px;

    &-brand {
      width: 347px;

      &-logo, .platform-logo {
        width: 250px;
        height: 31px;
      }
    }

    .export,
    .sync-mode,
    .query-mode {
      padding: 0 20px;
      line-height: 56px;

      svg {
        width: 28px;
        height: 56px;
      }

      span {
        margin-left: 14px;
      }
    }

    .sync-mode, .query-mode {
      .bp3-popover-target {
        height: 56px;
      }
    }
  }
}

