@import './AccountMenu/_AccountMenu.scss';
@import './TimeFrame/_TimeFrame.scss';
@import './TopNavigation/_TopNavigation.scss';
@import './SyncMode/_SyncMode.scss';

.header {
  width: 100%;
  height: 44px;
  box-shadow: 0 0 0 1px var(--borderColor);
  margin-bottom: 1px;
  font-size: 1rem;

  &-brand {
    position: relative;
    display: inline-block;
    width: 283px;
    height: 100%;
    border-right: 1px solid var(--borderColor);

    &-logo {
      display: block;
      position: absolute;
      width: 210px;
      height: 26px;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .timeframe-shortcut, .export, .sync-mode {
    display: inline-block;
    padding: 0 13px;
    height: 100%;
    line-height: 44px;
    user-select: none;
    vertical-align: top;
    cursor: pointer;
    border-right: 1px solid var(--borderColor);

    svg {
      height: 44px;
    }

    span {
      margin-left: 10px;
      vertical-align: top;
    }

    &:hover {
      background-color: var(--menuHover);
      color: var(--activeColor);

      svg path {
        fill: var(--activeColor);
      }
    }
  }

  .sync-mode {
    .bp3-popover-target {
      height: 44px;
      margin-left: 0;
    }
  }

  &-timeframe {
    display: inline-block;
    vertical-align: top;
    width: 273px;
    height: 100%;
    border-right: 1px solid var(--borderColor);
  }
}

@media screen and (min-width: 2560px) {
  .header {
    height: 56px;

    &-brand {
      width: 347px;

      &-logo, .platform-logo {
        width: 250px;
        height: 31px;
      }
    }

    .timeframe-shortcut, .export, .sync-mode {
      padding: 0 20px;
      line-height: 56px;

      svg {
        width: 28px;
        height: 56px;
      }

      span {
        margin-left: 14px;
      }
    }

    .sync-mode {
      .bp3-popover-target {
        height: 56px;
      }
    }

    &-timeframe {
      width: 371px;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1400px) {
  .header {
    .timeframe-shortcut {
      display: none;
    }
  }
}

@media screen and (max-width: 1100px) {
  .header {
    .export {
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    .export, .sync-mode {
      display: none;
    }
  }
}

@media screen and (max-width: 855px) {
  .header {
    &-brand {
      border-right: none;
    }

    .header-timeframe, .account-menu {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    &-brand {
      width: 140px;
      margin-left: 15px;
      border-right: none;

      &-logo {
        width: 140px;
        height: 20px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .header {
    &-brand {
      &.top-navigation--open {
        display: none;
      }
    }
  }
}
