@import './AccountMenu/_AccountMenu.scss';
@import './TopNavigation/_TopNavigation.scss';
@import './SyncMode/_SyncMode.scss';
@import './QueryMode/_QueryMode.scss';

.header {
  width: 100%;
  height: 44px;
  box-shadow: 0 0 0 1px var(--borderColor);
  margin-bottom: 1px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;

  &-brand {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 283px;
    height: 100%;

    .hamburger-menu {
      display: none;
    }

    &-logo {
      display: block;
      position: absolute;
      width: 230px;
      height: 22px;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .export,
  .sync-mode,
  .query-mode {
    cursor: pointer;
    height: 100%;
    padding: 0 13px;
    line-height: 44px;
    user-select: none;
    vertical-align: top;
    display: inline-block;
    border-left: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);

    svg {
      height: 44px;
    }

    span {
      margin-left: 10px;
      vertical-align: top;
    }

    &:hover {
      background-color: var(--menuHover);
      color: var(--activeColor);

      svg path {
        fill: var(--activeColor);
      }
    }
  }

  .sync-mode, .query-mode {
    .bp3-popover-target {
      height: 44px;
      margin-left: 0;
    }
  }
}

@media screen and (min-width: 2560px) {
  .header {
    height: 56px;

    &-brand {
      width: 347px;

      &-logo, .platform-logo {
        width: 250px;
        height: 31px;
      }
    }

    .export,
    .sync-mode,
    .query-mode {
      padding: 0 20px;
      line-height: 56px;

      svg {
        width: 28px;
        height: 56px;
      }

      span {
        margin-left: 14px;
      }
    }

    .sync-mode, .query-mode {
      .bp3-popover-target {
        height: 56px;
      }
    }
  }
}


@media screen and (max-width: 1170px) {
  .header {
    .export,
    .sync-mode {
      display: none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    .export,
    .query-mode {
      display: none;
    }
  }
}

@media screen and (max-width: 855px) {
  .header {
    &-brand {
      border-right: none;

      &-logo {
        width: 175px;
      }

      .hamburger-menu {
        display: block;
        margin-top: 6px;
        margin-left: 15px;
      }
    }
    
    .account-menu {
      display: none;
    }
  }
}
