.snapshots {
  .section-header {
    &-title {
      margin-bottom: 30px;
    }
  }

.tickers {
  .tables-row {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;

    &-item {
        width: 49%;
        margin-right: 0;
        min-width: 300px;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .tickers {
    .tables-row {
      flex-direction: column;

      &-item {
        width: 100%
      }
    }
  }
}
