.nav-switcher {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 6px;
  border-bottom: 2px solid var(--borderColor);

  &-item {
    border: none;
    padding: 7px 10px;
    border-radius: 0;
    min-width: fit-content;
    color: var(--color2);
    background-color: var(--bgColor2);
    border-bottom: 2px solid var(--borderColor);
    cursor: pointer;

    &--active {
      color: var(--color);
      border-bottom: 2px solid var(--color);
    }
  }
}
