.collapsed-table {
  width: 100%;

  &-item {
    display: table;
    width: 100%;
    padding: 4px 16px;
    border-radius: 6px;
    margin-bottom: 10px;
    background-color: var(--bgColor);
    border: 1px solid var(--bgColor);

    & > div {
      display: table-row;

      &:nth-child(odd) {
        background-color: var(--bgColor);
      }

      &:nth-child(even) {
        background-color: var(--bgColor);
      }

      & > div {
        display: table-cell;
        min-height: 24px;
        padding: 8px;
        vertical-align: middle;
        border-bottom: 1px solid var(--tableBorder);

        &:first-child {
          width: 45%;
        }

        &:last-child {
          padding: 4px 5px;
          word-break: break-word;
        }
      }

      &:last-child {
        & > div {
          border-bottom: none;
        }
      }
    }
  }

  .bp3-table-truncated-format-text {
    position: initial;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 390px) {
  .collapsed-table {
    margin-bottom: 30px;
  }
}
