.collapsed-table {
  width: 100%;

  &-item {
    display: table;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid var(--borderColor);
    border-radius: 2px;

    &:last-child {
      margin-bottom: 0;
    }

    & > div {
      display: table-row;

      &:nth-child(odd) {
        background-color: var(--tableOddBg);
      }

      &:nth-child(even) {
        background-color: var(--tableEvenBg);
      }

      & > div {
        display: table-cell;
        min-height: 24px;
        padding: 4px 11px;
        vertical-align: middle;

        &:first-child {
          width: 45%;
          color: var(--activeColor);
          border-right: 1px solid var(--borderColor);
        }

        &:last-child {
          padding: 4px 5px;
        }
      }
    }
  }

  .bp3-table-truncated-format-text {
    position: initial;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
