.weighted-averages {
  .limit-note {
    padding: 15px 20px;
    margin-bottom: 25px;
    background-color: var(--bgColor);
    border-radius: 4px;
    font-size: 12px;
    
    &--header {
      color: var(--activeColor)
    }

    &--body {
      color: var(--color2)
    }
  }
}
