.bp3-toast {
  min-height: 40px;
  padding: 5px;
  border-radius: 2px;
  align-items: center;

  &.bp3-intent {
    &-primary {
      background-color: var(--toastPrimaryBg);
    }

    &-success {
      background-color: var(--toastSuccessBg);
    }

    &-warning {
      background-color: var(--toastWarningBg);
    }

    &-error {
      background-color: var(--toastErrorBg);
    }
  }

  &-message {
    padding: 10px 11px;
  }

  svg path {
    fill: var(--toastIconColor);
  }
}
