.concentration-risk-data {
  display: flex;

  .bitfinex-table {
    height: fit-content;
    flex: 0 0 400px;
  }

  &-chart {
    width: 100%;

    .recharts-wrapper {
      height: 300px;
      margin: 0 auto;

      .recharts-legend-item {
        svg {
          margin-bottom: 4px;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .concentration-risk-data {
    flex-wrap: wrap;

    .bitfinex-table {
      margin: 0 auto 25px auto;
    }

    &-chart {
      margin-top: 5px;
    }
  }
}
