.concentration-risk-data {
  width: 100%;
  display: flex;

  &-table {
    width: 50%;
    margin-right: 100px;

    .data-table-container {
      flex: 0 0 400px;
      height: fit-content;
    }
  }

  &-chart {
    margin-left: 15px;

    .recharts-wrapper {
      height: 300px;
      margin: 0 auto;

      .recharts-legend-item {
        svg {
          margin-bottom: 4px;
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .concentration-risk-data {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    &-table {
      width: 100%;
      margin-right: 0;

      .bitfinex-table {
        margin: 0 auto 25px auto;
      }
    }

    &-chart {
      margin-top: 5px;
    }
  }
}

@media screen and (max-width: 390px) {
  .concentration-risk-data {
    &-chart {
      margin-bottom: 10px;
    }
  }
}

