.sign-in-list {
  &--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      cursor: pointer;
      background-color: var(--bgColor);
    }
  }

  &--icon {
    cursor: pointer;
    margin-right: 54px;

    &:hover{
      opacity: 0.8;
    }
  }

  &--item {
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 0 54px;
    min-height: 76px;

    svg {
      margin-right: 24px;
    }

    &-title {
      margin: 0;
    }

    &-type {
      margin: 0;
      color: var(--color2);
    }
  }
}