.loading {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -70%);

  &-container {
    height: 100%;
    position: relative;
  }

}
