.bitfinex-auth-form-input {
  .bp3-form-group {
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .bp3-input {
    padding: 0 15px;
    font-size: 15px;

    &-group {
      margin-bottom: 18px;
    }
  }
}

@media screen and (min-width: 2560px) {
  .bitfinex-auth-form-input {
    .bp3-input {
      height: 40px;
      font-size: 20px;
    }
  }
}
