body {
  margin: 0;
  padding: 50px 0 0 0;
  font-family: "Roboto", sans-serif;
}

body.pt-dark {
  background-color: #394b59;
}

div.bitfinex-auth {
  text-align: center;
  margin-top: 10px;
}

.bitfinex-show-soft {
  opacity: 0.5;
}

.bitfinex-timerange > div {
  font-size: 11px;
}

/* normal size logo */
.bitfinex-logo-light,
.bitfinex-logo-dark {
  width: 176px;
}

/* small screen logo */
.bitfinex-logo-m-light,
.bitfinex-logo-m-dark {
  width: 79px;
}

body.pt-dark .bitfinex-logo-light,
body.pt-light .bitfinex-logo-dark,
body.pt-dark .bitfinex-logo-m-light,
body.pt-light .bitfinex-logo-m-dark {
  display: none;
}
