body {
  margin: 0;
  padding: 50px 0 0 0;
  font-family: "Roboto", sans-serif;
}

body.pt-dark {
  background-color: #394b59;
}

div.bitfinex-auth {
  text-align: center;
  margin-top: 10px;
}

.pt-callout.pt-callout-icon .pt-icon.bitfinex-status-close {
  right: 10px;
  left: unset;
  cursor: pointer;
}

.bitfinex-table {
  max-height: 400px;
}

.bitfinex-show-soft {
  opacity: 0.5;
}

.bitfinex-timerange > div {
  font-size: 11px;
}

.bitfinex-logo-light,
.bitfinex-logo-dark {
  width: 176px;
}

.bitfinex-logo-m-light,
.bitfinex-logo-m-dark {
  width: 79px;
}

body.pt-dark .bitfinex-logo-light,
body.pt-light .bitfinex-logo-dark,
.bitfinex-logo-m-light,
.bitfinex-logo-m-dark {
  display: none;
}

@media only screen and (max-width: 48em) {
  .bitfinex-logo-light,
  .bitfinex-logo-dark {
    display: none;
  }

  body.pt-dark .bitfinex-logo-m-dark,
  body.pt-light .bitfinex-logo-m-light {
    display: block;
  }
}

.bitfinex-symbol-group {
  padding-bottom: 10px;
}

body.pt-dark .bitfinex-green-text > div {
  color: #7a9c4a;
}

body.pt-dark .bitfinex-red-text > div {
  color: #aa6064;
}

body.pt-light .bitfinex-green-text > div {
  color: #8bc040;
}

body.pt-light .bitfinex-red-text > div {
  color: #de5f66;
}
