body {
  margin: 0;
  padding: 50px 0 0 0;
  font-family: "Roboto", sans-serif;
}

body.pt-dark {
  background-color: #394b59;
}

div.bitfinex-auth {
  text-align: center;
  margin-top: 10px;
}

.bitfinex-table {
  max-height: 400px;
}

.bitfinex-timerange {
  padding-top: 6px;
}

.bitfinex-logo-light {
  width: 176px;
}

.bitfinex-logo-dark {
  width: 176px;
}

body.pt-dark .bitfinex-logo-light {
  display: none;
}

body.pt-light .bitfinex-logo-dark {
  display: none;
}
