.sync-mode {
  .bp3-popover-target {
    width: 100%;
  }

  &-wrapper {
    width: 100%;
    height: 100%;
  }

  &--info-popover {
    max-width: 535px;
    position: relative;
    border-radius: 4px;
    padding: 15px;
    border: 1px solid var(--borderColor);

    .bp3-popover-arrow {
      &-border {
        fill-opacity: 1;
        fill: var(--borderColor);
      }
    }

    .bp3-popover-content {
      .sync-mode--close-btn {
        top: -11px;
        right: -8px;
        cursor: pointer;
        position: absolute;
        transform: scale(1.3);

        svg path {
            fill: #52626C;
        }
      }
    }
  }

  &-icon {
    display: inline-block;
    position: relative;
    width: 22px;
    height: 100%;

    .bp3-spinner {
      margin: 0 1px;

      &-animation {
        width: 20px;
      }
    }

    &-wrapper {
      display: inline-block;
      width: 24px;
      height: 100%;
    }
  }

  .bitfinex-sync-progress {
    transform: translate(-50%, 0);
    font-size: 10px;
    position: absolute;
    top: 0.4px;
    left: 50%;
    text-align: center;
  }
}

@media screen and (min-width: 2560px) {
  .sync-mode {
    &-icon {
      width: 28px;

      .bp3-spinner {
        margin: 0;

        &-animation {
          width: 28px;
        }
      }

      &-wrapper {
        width: 28px;
      }
    }
  }
}

@media screen and (max-width: 1170px) {
  .sync-mode--info-popover  {
      display: none;
    }
}
