.sync-mode {
  .bp3-popover-target {
    width: 100%;
  }

  &-wrapper {
    width: 100%;
  }

  &-icon {
    display: inline-block;
    position: relative;
    width: 22px;

    .bp3-spinner {
      margin: 0 1px;

      &-animation {
        width: 20px;
      }
    }

    &-wrapper {
      display: inline-block;
      width: 24px;
    }
  }

  .bitfinex-sync-progress {
    transform: translate(-50%, 0);
    font-size: 10px;
    position: absolute;
    top: 0.4px;
    left: 50%;
    text-align: center;
  }
}
