.bitfinex-table {
  width: fit-content;
  min-height: unset;
  height: fit-content;
  max-height: max-content;
  flex: 1 1 100px;
  clip-path: inset(-1px 0px 0px -1px);

  .bp3-table-quadrant-scroll-container {
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background-color: var(--tableScrollBg);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--tableScrollThumbBg);
      border-radius: 2px;
    }
  }
}

.bp3-card {
  display: flex;
  flex-flow: column;
  height: 100%;
}
