.bitfinex-table {
  width: fit-content;
  min-height: unset;
  height: fit-content;
  max-height: 517px;
  margin-left: 1px;
  flex: 0 1 auto;
  border-top: 1px solid var(--tableBorder);

  &-full-height {
    max-height: unset;
  }

  .bp3-table-quadrant-scroll-container {
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background-color: var(--tableScrollBg);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--tableScrollThumbBg);
      border-radius: 2px;
    }

    &::-webkit-scrollbar-corner {
      background-color: var(--tableScrollThumbBg);
    }

    // firefox
    scrollbar-width: thin;
    scrollbar-color: var(--tableScrollThumbBg) var(--tableScrollBg);
  }

  .bp3-table-cell-client {
    background-color: var(--bgColor);
  }

  .bitfinex-green-text, .bitfinex-green-text > div {
    color: var(--tableAmountPosColor);
  }

  .bitfinex-red-text, .bitfinex-red-text > div {
    color: var(--tableAmountNegColor);
  }

  .bitfinex-amount {
    &.bitfinex-green-text > .bitfinex-amount-fraction {
      color: var(--tableAmountFractionPosColor);
    }

    &.bitfinex-red-text > .bitfinex-amount-fraction {
      color: var(--tableAmountFractionNegColor);
    }
  }
}

.bp3-table {
  &-container {
    .bp3-table-last-in-row {
      box-shadow: inset 0 -1px 0 var(--tableBorder);

      &.bp3-table-header {
        box-shadow: 0 1px 0 var(--tableBorder);
      }
    }
  }

  &-column {
    &-headers {
      background-color: var(--thBg);
      color: inherit;

      .bp3-table-header {
        box-shadow: 0 1px 0 var(--tableBorder);
      }
    }

    &-name {
      font-size: 14px;
      color: var(--thColor);

      &-text {
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }

  &-selection-enabled .bp3-table-header:hover::before {
    background-color: var(--thBgHover);
  }

  &-quadrant-scroll-container {
    background-color: var(--bgColor);
  }

  &-cell {
    font-size: 13px;
    color: var(--tableColor);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: inset 0 -1px 0 var(--tableBorder);

    &-ledger {
      &-even {
        background-color: var(--tableEvenBg);
      }

      &-odd {
        background-color: var(--tableOddBg);
      }
    }
  }
}

.bp3-card {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.no-table-scroll {
  .bitfinex-table {
    max-height: unset;
  }
}

@media screen and (min-width: 2560px) {
  .bitfinex-table {
    max-height: 857px;

    .bp3-table-quadrant-scroll-container {
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }
    }

    &-full-height {
      max-height: unset;
    }
  }

  .bp3-table {
    &-column {
      &-name {
        font-size: 16px;
      }
    }

    &-cell {
      padding: 0 14px;
      font-size: 15px;
    }
  }
}
