.section-switch {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--borderColor);

  .bp3-button-group {
    margin-bottom: -2px;

    .bp3-button {
      border: none;
      border-radius: 0;
      color: var(--color2);
      background-color: var(--bgColor2);
      border-bottom: 2px solid var(--borderColor);

      &:hover {
        color: var(--color);
      }

      &.bp3-intent-primary {
        color: var(--color);
        border-bottom: 2px solid var(--color);
      }
    }
  }
}
