.error-label {
  margin-top: -7px;
  margin-bottom: 5px;

  &-icon {
    path {
      fill: var(--validationErrorColor) !important;
    }
  }

  &-text {
    margin-left: 6px;
    vertical-align: top;
    font-size: 13px;
    color: var(--validationErrorColor);
  }
}
