@import './InputKey/InputKey';
@import './ErrorLabel/ErrorLabel';

.bitfinex-auth {
  .bp3-dialog {
    &-body {
      margin-top: 10px;
      font-size: 15px;
      flex-direction: column;
      display: flex;

      > .platform-logo {
        position: relative;
        width: 240px;
        height: 28px;
        margin: 15px auto 30px auto;
      }

      > .bp3-callout {
        border-radius: 0;
        margin: 0 auto 24px;
        padding: 10px 21px 9px;
        font-size: 15px;
        background-color: var(--authNoticeBg);
      }
    }

    &-footer {
      margin : 0 15px;
    }

    .bitfinex-auth-check {
      line-height: 18px;
    }
  }

  &-email {
    &.bitfinex-select {
      margin-bottom: 20px;

      .bp3-popover-target {
        width: 100%;
      }

      .bp3-button {
        width: 100%;
      }
    }

    &-popover {
      &.bitfinex-select-menu {
        .bp3-popover-content {
          width: 468px;

          .bp3-menu {
            max-width: 100%;
          }
        }
      }
    }
  }

  &-checkboxes {
    display: flex;
    justify-content: space-between;
  }

  &-sign-in {
    &-checkboxes {
      .bp3-checkbox {
        display: inline-block;
        width: 50%;
      }
    }

    .bp3-dialog {
      &-footer {
        &-actions {
          justify-content: space-between;
        }
      }
    }
  }

  &-remember-me {
    &.bp3-checkbox {
      line-height: 30px;

      &:first-child {
        margin: 0 0 0 2px;
      }

      &:last-child {
        margin: 0 2px 0 0;
      }
    }

    &--sign-in {
      &.bp3-checkbox {
        margin-bottom: 60px;
      }
    }
  }

  &-password-recovery {
    line-height: 30px;
    cursor: pointer;
  }

  &-mode-switch {
    display: inline-flex;
    margin-right: 10px;
    line-height: 30px;
    cursor: pointer;
  }

  &-check {
    min-width: 136px;
  }
}

@media screen and (min-width: 2560px) {
  .bitfinex-auth {
    .bp3-dialog {
      &-body {
        font-size: 20px;

        > .platform-logo {
          width: 280px;
          height: fit-content;
          margin: 25px auto 30px auto;
        }

        > .bp3-callout {
          margin: 0 auto 30px;
          padding: 12px 21px 11px;
          font-size: 20px;
        }
      }

      &-footer {
        margin: 0 25px;
      }

      .bitfinex-auth-check {
        line-height: 23px;
      }
    }

    &-check {
      width: 150px;
    }
  }
}
