@import './InputKey/InputKey';
@import './ErrorLabel/ErrorLabel';
@import './SignInList/SignInList';
@import './AuthTypeSelector/AuthTypeSelector';
@import './RegisterSubAccounts/RegisterSubAccounts';

.bitfinex-auth {
  min-width: 500px;
  .bp3-dialog {
    &-body {
      display: flex;
      flex-direction: column;
      font-size: 15px;
      margin: 30px 20px 5px 20px;

      > .platform-logo {
        position: relative;
        width: 165px;
        height: 20px;
        margin: 15px auto 35px auto;
      }

      > .api-key-note {
        margin-bottom: 40px;
      }

      > .buttons-row {
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
      }

      > .bp3-callout {
        border-radius: 4px;
        margin: 0 auto 24px;
        padding: 10px 21px 9px;
        font-size: 15px;
        background-color: var(--authNoticeBg);
      }

      > .bp3-callout-icon {
        display: flex;

        svg {
          margin-right: 10px;

          .icon--info-circle  {
            fill: var(--activeColor)
          }
        }
      }
    }

    &-footer {
      margin : 0 20px;

      &-actions {
        margin-bottom: 40px;
        justify-content: space-between;

        &:last-child {
          margin-bottom: 0;
        }

        .auth-mode-switch-wrapper {
          width: 100%;
          display: flex;
          justify-content: center;
          border-top: 1px solid var(--borderColor);
          padding-top: 18px;
        }
      }
    }

    .bitfinex-auth-check {
      line-height: 18px;
    }
  }

  &-email {
    &.bitfinex-select {
      margin-bottom: 20px;

      .bp3-popover-target {
        width: 100%;
      }

      .bp3-button {
        width: 100%;
      }
    }

    &-popover {
      &.bitfinex-select-menu {
        .bp3-popover-content {
          width: 468px;

          .bp3-menu {
            max-width: 100%;
          }
        }
      }
    }
  }

  &-checkboxes {
    display: flex;
    justify-content: flex-start;
    padding: 0 2px 0 2px;

    &--group {
      display: flex;
      flex-direction: column;
    }
  }

  &-sign-in {
    &-checkboxes {
      .bp3-checkbox {
        display: inline-block;
        width: 50%;
      }
    }

    .bp3-dialog {
      &-body{
        margin: 30px 0 5px 0;

        .sign-in-wrapper {
          margin: 0 60px;

          .sign-in--otp {
            .buttons-row {
              display: flex;
              justify-content: space-between;
            }
          }
        }

        .sign-in-user--item {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: var(--multiBg);
          min-height: 40px;
          border-radius: 4px;
          margin-bottom: 20px;
          padding: 0 15px;
          
          &-title {
           margin: 0;
          }
        }
      }

      &-footer {
        margin: 0 60px 27px 60px;

        &-actions {
          justify-content: flex-end;
        }
      }
    }
  }

  &-sign-up {
    .bp3-dialog {
      &-body {
        margin: 30px 60px 5px 60px;

        .sign-in--otp {
          .buttons-row {
            display: flex;
            justify-content: space-between;
          }
        }

        .sub-account {
          margin-bottom: 15px;
        }

        .sign-in-user--item {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: var(--multiBg);
          min-height: 40px;
          border-radius: 4px;
          margin-bottom: 20px;
          padding: 0 15px;
          
          &-title {
           margin: 0;
          }
        }
      }

      &-footer {
        margin : 0 60px;
      }
    }
  }

  &-remember-me {
    &.bp3-checkbox {
      line-height: 30px;
      margin-left: 0;
      color: var(--color2);
      margin-bottom: 35px;

      &:first-child{
        margin-right: 60px;
      }

      .bp3-control-indicator {
        box-shadow: none;
        background-color: var(--multiBg);

        &:hover {
          background-color: var(--multiBg);
        }
      }
    }

    &--sub-accounts {
      &.bp3-checkbox {
        color: #fff;
        pointer-events: none;
      }
    }
  }

  &-password-recovery {
    line-height: 38px;
    cursor: pointer;
    color: var(--activeColor);
    margin-bottom: 25px;
    margin-top: -15px;
  }

  &-mode-switch {
    display: inline-flex;
    margin-right: 10px;
    line-height: 30px;
    cursor: pointer;
    align-items: center;
    color: var(--color2);

    svg {
      margin-right: 7px;
      
      .icon-sign-in {
        fill: var(--color2);
      }
    }
  } 

  .api-key-switch {
    color: var(--activeColor);
  }

  &-check {
    min-height: 40px;
    min-width: 136px;
  }
}

@media screen and (min-width: 2560px) {
  .bitfinex-auth {
    .bp3-dialog {
      &-body {
        font-size: 20px;

        > .platform-logo {
          width: 280px;
          height: fit-content;
          margin: 25px auto 30px auto;
        }

        > .bp3-callout {
          margin: 0 auto 30px;
          padding: 12px 21px 11px;
          font-size: 20px;
        }
      }

      &-footer {
        margin: 0 25px;
      }

      .bitfinex-auth-check {
        line-height: 23px;
      }
    }

    &-check {
      width: 150px;
    }
  }
}
